<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Movie Flix</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/title.css" />
    <link rel="shortcut icon" href="img/m.png">
</head>

<body>
<div id="slideBar" >
    <img style="float:left; " src="img/logo.png" align-items="flex-start" alt="logo" width="200"/>
    <div class="topNaviagationLink"><a href="welcome.html">Home</a></div>
    <div class="topNaviagationLink"><a href="browsecatalog.html">browse</a></div>
    <div class="topNaviagationLink"><a href="filter.html">SortCatalog</a></div>
    <div class="topNaviagationLink"><a href="addmovie.html">AddMovie</a></div>
    <div class="topNaviagationLink"><a href="welcome.html">SignOut</a></div>

</div>

<div class="contentBox">
    <div class="innerBox">

<div ng-controller="MainController as mainVm">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form name="addUserForm" ng-submit="mainVm.addUser(addUserForm.$valid)" novalidate>

                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" name="title"  class="form-control" id="name"  ng-model="mainVm.newTitle.name">

                    </div>
                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <input type="text" name="Genre" required class="form-control" id="Genre"  ng-model="mainVm.newTitle.genre">

                    </div>

                    <div class="form-group">
                        <label for="Actor">Actor</label>
                        <input type="text" name="Actor" required class="form-control" id="Actor"  ng-model="mainVm.newTitle.actors">

                    </div>

                    <div class="form-group">
                        <label for="language">City</label>
                        <input type="text" name="language" required class="form-control" id="language"  ng-model="mainVm.newTitle.language">

                    </div>

                    <button type="submit" class="btn btn-primary">Add Movie</button>
                </form>


            </div>
            <div class="col-sm-6" ng-include="'view-movie.tmpl.html'">
            </div>
        </div>
    </div>
</div>

<script src="https://code.angularjs.org/1.4.9/angular.js"></script>
<script src="https://code.angularjs.org/1.4.9/angular-messages.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/app.js"></script>
<script src="js/app.constant.js"> </script>
<script src="js/main.controller.js"> </script>
<script src="js/user.service.js"> </script>



</body>

</html>