<ul class="rig columns-4"  ng-repeat="cinema in movieVm.cinemas">
    ng-model="mainVm.newUser.firstName
    <li >
        <div class="caption">
            <img class="img-responsive" ng-src="{{cinema.Poster}}" />
            <h3><a href="titledetails.html">{{cinema.Title}} </a></h3>
            <p>Genre: {{cinema.Genre}}</p>
            <p><a href="#" class="btn btn-primary" role="button">Add to List</a> <a href="#" class="btn btn-default" role="button">watch Later</a></p>
        </div>
    </li>


</ul>